<!--Navbar-->
<nav class="sticky-top scrolling-navbar">
  <div class="headerwrapper navbar navbar-expand-lg navbar-dark ">
    <!-- Navbar brand -->
    <br><br>
    <div class="header-left">
      <img src="/assets/images/logo.png" class="logo" />


    </div>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard']">
            <h4><strong>Home</strong></h4>
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <!-- <li class="nav-item" >
        <a class="nav-link" [routerLink]="['/dashboard']"  [queryParams]="{searchTerm: 'snacks'}" [routerLinkActive]="['active']">
          <h4><strong>Snacks</strong></h4>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/dashboard']" [queryParams]="{searchTerm: 'pickles'}" [routerLinkActive]="['active']">
          <h4><strong>Pickles </strong></h4>
        </a>
      </li> -->
        <!-- <h4>
      <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  ngbDropdownAnchor (focus)="myDrop.open()">
          more
       </a>
        
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button ngbDropdownItem>some food</button>
          <button ngbDropdownItem>other food</button>
          <button ngbDropdownItem>Something else</button>
        </div>
      </div>
    </h4> -->
        <div class="vertical"></div>
        <!-- <div class="col-md-1"></div> -->
        <form class="form-group-lg col-md-6">
          <div class="md-form my-0">
            <br>
            <input [(ngModel)]="searchText" (input)="filterItem()" name="something" class="form-control mr-sm-2"
              type="text" placeholder="Search" aria-label="Search">
          </div>
        </form>

      </ul>


      <!-- Links -->


    </div>
    <!-- Collapsible content -->
  </div>
  <div class="row">
    <div class="col-lg-1"> </div>
    <div class="col-lg-1"></div>
    <div class="col-md-6">
     <h4> <a *ngFor="let foodCategory of foodCategorys; let i = index" class="badge badge-pill badge-light"
          (click)="filterFoodByCategory(foodCategory)">{{foodCategory}}</a> </h4>
    </div>
  </div>
</nav>