<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 introwrapper">
           
            <form class="form-inline md-form mr-auto mb-4">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
              </form>
              

        </div>
        <div class="col-lg-8">
            <agm-map [latitude]="map.lat" [longitude]="map.lng" style="height: 300px">
                <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
              </agm-map>

        </div>

    </div>
</div>